load %s

load programs-gen

load kernel-c-configuration
load kernel-c-semantics
load %s

mod KERNEL-C-SEMANTICS is
	including KERNEL-C-CONFIGURATION .
	including COMMON-KERNEL-C-SEMANTICS .
	including %s .
endm

mod KERNEL-C is 
	including KERNEL-C-PROGRAM .
	including KERNEL-C-SEMANTICS . 
endm
