load %s

load kernel-c-syntax
load match-kernel-c-syntax

mod KERNEL-C-SYNTAX is
	including COMMON-KERNEL-C-SYNTAX .
	%s
endm

load kernel-c-configuration
load kernel-c-semantics

mod KERNEL-C-PROGRAM is
	including KERNEL-C-SYNTAX .
	including MATCH-KERNEL-C-SYNTAX .
	including KERNEL-C-CONFIGURATION .
%s
endm

load %s

mod KERNEL-C-SEMANTICS is
	including COMMON-KERNEL-C-SEMANTICS .
	including %s .
endm

mod KERNEL-C is 
	including KERNEL-C-PROGRAM .
	including KERNEL-C-SEMANTICS . 
endm
