
load kernel-c-syntax
load match-kernel-c-syntax

mod KERNEL-C-SYNTAX is
	including COMMON-KERNEL-C-SYNTAX .
	%s
endm

load match-kernel-c-configuration

mod KERNEL-C-PROGRAM is
	including KERNEL-C-SYNTAX .
	including MATCH-KERNEL-C-SYNTAX .
	including MATCH-KERNEL-C-CONFIGURATION .

	