load %s

load programs-gen

load %s
load common-c-semantics
load %s

mod C-SEMANTICS is
	including C-CONFIGURATION .
	including COMMON-C-SEMANTICS .
	including %s .
endm

mod C is 
	including C-PROGRAM .
	including C-SEMANTICS . 
endm
